<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <label for="">Username:</label>
        <input type="text" name="uname" id=""><br><br>
        <label for="">Password:</label>
        <input type="password" name="pass" id=""><br><br>
        <input type="submit" name="" id="" value="Login">
    </form>
    {%if error_msg %}
    <h1>{{error_msg}}</h1>
    {% endif %}
</body>
</html>