
   {% extends 'base.html' %}

   {% block content %}
   <h1>Product List</h1>
    <div>
        <h3>Bhagwat geeta</h3>
        <p>$ 5</p>
        <a href="{% url 'add_to_cart' 1 %}">Add to Cart</a>
    </div>
    <hr>
    <div>
        <h3>Bhagwatam</h3>
        <p>$ 10</p>
        <a href="{% url 'add_to_cart' 2 %}">Add to Cart</a>
    </div>
    <hr>
    <div>
        <h3>Chitanya Charitamrit</h3>
        <p>$ 10</p>
        <a href="{% url 'add_to_cart' 2 %}">Add to Cart</a>
    </div>
    <hr>
    {% if cart %}
   <h1> <a href="{% url 'view_cart_details' %}">View Cart</a> </h1>
    {% endif %}

    {% endblock %}
